body {
    width: 100%;
    /*margin: 0;*/
    padding: 0;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    font-family: "PingFang SC", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Microsoft Yahei", 微软雅黑, STHeiti, 华文细黑, sans-serif;
    min-width: 1263px;
    background-color: #e0f1f9;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #2c7cb9
}

.top {
    width: 100%;
    height: 40px;
    /*background-color: #2c69b9*/
    background-color: rgba(0, 0, 0, 0.3);
}

.info {
    float: right;
    padding-top: 10px;
    padding-right: 150px;
    font-size: 18px;
    color: #e3e3e3;
}

.bar {
    width: 100%;
    height: 105px;
}

.logo {
    font-size: 50px;
    color: #e3e3e3;
    position: absolute;
    left: 100px;
    top: 62px;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.9;
}

.menu {
    float: right;
    list-style: none;
    padding-top: 39px;
    padding-right: 115px;
}

li {
    float: left;
    margin: 0 10px;
    font-size: 20px;
    color: #e3e3e3;
}

a {
    text-decoration: none;

}

a:link, a:hover, a:visited, a:active {
    color: black;
}

li a {
    display: block;
    width: 60px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}

li a:link {
    color: #e3e3e3;
    border-radius: 5px;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all 0.15s ease-out;
/ / 淡入淡出
}

li a:hover {
    color: #e3e3e3;
    border: 0 solid #ffffff;
    border-radius: 5px;
    background-color: #364a65;
    height: 30px;
    line-height: 30px;
    -moz-transition: all .15s ease-out;
    -webkit-transition: all .15s ease-out;
    -o-transition: all .15s ease-out;
    transition: all 0.15s ease-out;
/ / 淡入淡出
}

li a:visited {
    color: #e3e3e3;
    border: 0 solid #ffffff;
    border-radius: 5px;
    background-color: #364a65;
}

li a:active {
    color: #e3e3e3;

}

.main {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.location {
    padding-top: 20px;
    padding-bottom: 20px;
}

.content {
    background-color: white;
    padding: 30px;
    margin-bottom: 20px;
}

.app_info {
    height: 120px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.app_info_first {
    margin-bottom: 20px;
}

.app_info_last {
    margin-top: 20px;

}

img {
    float: left;
}

.right {
    margin-left: 160px;
}

.app_name {
    font-size: 25px;
}

.app_introduction {
    padding-top: 20px;
}

.footer {
    background-color: #364a65;
    height: 180px;
}

.company_info {
    color: #e3e3e3;
    text-align: center;
    padding-top: 60px;
}

hr {
    border: none;
    border-top: 1px dashed #a9a9a9;
}

p {
    line-height: 1.5em;
}